@import '~antd/dist/antd.css';

$size10: 10px;

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__spinner-wrapper {
    margin: auto;
  }
}

.btn {
  &--reset {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.row {
  position: relative;
  padding: $size10;
  box-sizing: border-box;
  width: 100%;
}

.autocomplete {
  width: 300px;
  border-radius: 8px;
}

.mr {
  &--10 {
    margin-right: $size10;
  }
}

.ml {
  &--10 {
    margin-left: $size10;
  }
}
